.checklist-root {
	display: grid;
	gap: 20px;

	list-style-position: outside;
	list-style: none;
	margin: 0;

	padding: 40px;
	box-shadow: var(--ifm-global-shadow-lw);

	max-width: 1024px;
	margin: 0 auto;

	font-size: 16px;

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
	}

	* {
		box-sizing: border-box;
	}
}

.print-only-run-container,
.run-container {
	margin: 0;
	border: 3px solid black;

	h1 {
		padding: 10px 20px;
		margin: 0;
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: center;

		border-bottom: 2px solid black;
		height: 50px;

		img {
			height: 32px;
		}

		& > span {
			text-align: center;
			width: 0;
			display: block;
			flex-grow: 1;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	h2 {
		border-top: 1px solid black;
		margin: 0;
		padding: 0;
		line-height: 200%;
		text-align: center;
	}
}

.run-info {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;

	border-top: 1px solid black;

	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
		padding: 5px;
		border-right: 1px solid;
		line-height: 20px;

		span:first-child {
			font-style: italic;
		}

		span:last-child {
			font-weight: bold;
		}

		&:last-of-type {
			border-right: none;
		}
	}
}

.people {
	display: grid;
	grid-template-columns: 2fr 1.3fr;

	border-top: 1px solid black;
	border-bottom: 2px solid black;

	height: 40px;

	h2 {
		height: 40px;
		line-height: 140%;
	}
}

.staff {
	border-left: 1px solid black;

	h2 {
		border: none;
		text-align: left;
		padding-left: 8px;
	}
}

.run-runners {
	display: flex;
	align-items: center;
	list-style-position: outside;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;

	h2 {
		margin-left: 8px;
		margin-right: 28px;
		border: none;
	}

	li {
		justify-content: center;
		font-weight: 600;
		border: none !important;
		margin-right: 0;
		text-wrap: nowrap;
		white-space: nowrap;;

		&:last-of-type {
			border-right: none;
		}
	}

	.pronouns {
		font-style: italic;
		font-weight: normal;
	}
}

.run-checklist-heading {
	display: flex;
	justify-content: center;
	border-top: 3px solid black;
	background-color: #c7c7c7;
	font-weight: bold;
}

.run-checklist {
	list-style-position: outside;
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.run-runners li,
.run-checklist li {
	display: flex;
	gap: 10px;
	align-items: center;
	text-wrap: balance;
	line-height: 22px;

	padding: 9px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: -1px;

	&:nth-child(odd) {
		border-right: 1px solid black;
	}

	input[type="checkbox"] {
		border: 1px solid black;
		width: 24px;
		height: 24px;
		min-width: 24px;
		min-height: 24px;
		margin: 0;
		padding: 0;
	}
}

.run-notes {
	border-top: 1px solid black;
	flex-grow: 1;
	padding: 10px;

	h3 {
		margin: 0;
		padding: 0;
	}
}

.print-only-run-container,
.print-only {
	display: none;
}

@media print {
	@page {
		size: a4 landscape;
		margin: 1cm;
	}

	.checklist-root {
		top: 0;
		left: 0;
		position: absolute;

		width: 297mm;
		overflow: hidden;

		display: grid;
		gap: 0 10mm;
		grid-template-columns: 1fr 1fr;

		padding: 0;
		box-shadow: none;

		max-width: initial;
	}

	.print-only-run-container,
	.run-container {
		height: calc(100vh - 4px);
	}

	.print-only-run-container,
	.print-only {
		display: initial;
	}

	.do-not-print {
		display: none;
	}
}
